html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
}

/* Utility Classes */
.container {
    max-width: 1300px;
    margin: auto;
    padding: 20px;
    overflow: hidden;
}

.main-heading {
    font-size: 35px;
    color: #333;
    font-weight: 200;
    padding: 10px;
}

.secondary-heading {
    font-size: 28px;
    color: #444;
    font-weight: 200;
}

.heading-light {
    font-size: 35px;
    color: #fff;
    font-weight: 200;
    padding: 25px;
}

.btn-light {
    background: #fff;
    color: #333;
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 25px;
    margin: 0 5px;
    transition: all 0.5s;
}

.btn-light:hover {
    cursor: pointer;
    background: #333;
    color: #FF4E37;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.fa-3x {
    background: #FF4E37;
    color: #fff;
    padding: 20px;
    border-radius: 50%;
}

/* Navbar */

#navbar {
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 1;
}

#navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar .logo {
    font-size: 35px;
    color: #222;
}

#navbar .clrText {
    color: #FF4E37;
}

#navbar .nav {
    display: flex;
}

#navbar .nav li {
    padding: 10px 35px;
}

#navbar .nav li a {
    text-decoration: none;
    color: #222;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    transition: color 0.5s;
}

#navbar .nav li a:hover {
    color: #FF4E37;
}

.menu-wrap {
    display: none;
}

/* Showcase */
#showcase .mySlides {display: none}

#showcase img {
    width: 100%;
    height: 90vh;
}

#showcase .slideshow-container {
  position: relative;
  margin: auto;
}

#showcase .prev, #showcase .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 10px 20px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 50%;
}

#showcase .prev {
    left: 30px;
}

#showcase .next {
  right: 30px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #FF4E37;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* Creative */
#creative {
    text-align: center;
}
#creative .secondary-heading {
    padding-top: 80px;
}

#creative .crSol {
    display: flex;
    justify-content: space-around;
    padding: 80px 0;
}

#creative .fa-3x {
    margin-bottom: 120px;
}

#creative .card-title {
    color: #555;
    font-size: 20px;
}

/* Features */
#features {
    text-align: center;
}

#features p {
    max-width: 600px;
    margin: auto;
    font-size: 14px;
    color: #555;
    padding: 10px 0;
}

#features .feature-images {
    display: flex;
    padding: 70px 0;
    justify-content: space-between;
}

#features .feature-images img {
    width: 100%;
}

#features .feature-images .img-1 {
    height: 350px;
}

#features .feature-images .img-2 {
    height: 300px;
}

#features .key-features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

#features .key-features .feat {
    display: flex;
    text-align: start;
    padding: 50px 0;
}

#features .key-features .feat i {
    align-self: flex-start;
    margin-right: 8px;
}

#features .key-features .feat .feat-title {
    font-size: 20px;
    color: #444;
    padding-bottom: 10px;
}

/* Support */
#support {
    background: #FF4E37;
    text-align: center;
    color: #fff;
}

#support .text-wrap {
    padding: 50px 0;
}

#support .text-wrap p {
    font-size: 14px;
    color: #ff9e92;
    padding-bottom: 50px;
}

/* Testimonials */
#testimonials {
    text-align: center;
}

#testimonials .secondary-heading {
    padding-top: 100px;
}

#testimonials .items {
    display: flex;
    padding: 90px 0;
}

#testimonials .items .item img {
    margin-bottom: 40px;
    width: 160px;
    border-radius: 30px;
}

#testimonials .name {
    font-size: 25px;
    color: #333;
}

#testimonials .items .item p {
    font-size: 14px;
    color: #555;
    padding-top: 5px;
}

/* Contact */
#contact {
    background: #2D2D2D;
    color: #fff;
}

#contact .info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    padding: 50px 0;
}

#contact .contact-title {
    font-size: 20px;
    font-weight: 200;
    padding-bottom: 50px;
}

#contact .contact-title:first-child {
    font-size: 22px;
}

#contact .info-item p {
    font-size: 14px;
    color: #c4c4c4;
    line-height: 2.2;
    text-align: justify;
    padding-bottom: 20px;
}

#contact .icon {
    color: #fff;
    background: #000;
    padding: 10px;
    margin: 10px;
    border-radius: 50%;
    transition: all 0.5s;
}

#contact .icon:first-child {
    margin: 0;
    margin-right: 10px;
}

#contact .icon:hover {
    color: #FF4E37;
    transform: scale(1.1);
}

#contact .info li {
    color: #c4c4c4;
    font-size: 14px;
    padding: 20px 0;
    border-bottom: #fff 1px solid;
}

#contact .info li:first-child {
    padding: 0;
    padding-bottom: 20px;
}

#contact .info li:last-child {
    border: none;
}

#contact .fa-2x {
    color: #fff;
}

/* Footer */
#footer {
    background: #111;
    color: #999;
}

#footer .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer .nav {
    display: flex;
}

#footer .nav li {
    padding: 10px 20px;
}

#footer .nav li a {
    text-decoration: none;
    color: #999;
    font-size: 13px;
    font-weight: bold;
    transition: all 0.5s;
}

#footer .nav li a:hover {
    color: #FF4E37;
}

/* Tablet view */
@media(max-width: 850px) {

    #navbar .nav li {
        padding: 10px 25px;
    }

    #showcase img {
        width: 100%;
        height: 90vh;
        object-fit: cover;
    }

    #creative .crSol {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 80px 0;
    }

    #creative .crSol .crSol-item {
        padding: 30px;
    }

    #creative .fa-3x {
        margin-bottom: 50px;
    }

    #features .feature-images {
        display: block;
        padding: 30px 0;
    }

    #features .feature-images img {
        max-width: 600px;
        padding: 30px 0;
    }

    #features .feature-images .img-1 {
        height: auto;
    }
    
    #features .feature-images .img-2 {
        height: auto;
    }

    #features .key-features .feat {
        display: block;
        text-align: center;
        padding: 25px 0;
    }

    #features .key-features .feat i {
        margin: 10px 0;
    }

    #testimonials .items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 100px 0;
    }

    #testimonials .items .item {
        padding: 30px 0;
    }

    #contact .info {
        display: block;
        text-align: center;
        padding: 50px 0;
    }

    #contact .info .info-item {
        margin: auto;
        padding: 30px 0;
        border-bottom: #fff 2px solid;
    }

    #contact .info .info-item:last-child {
        border: none;
    }

    #contact .info .info-item ul,
    #contact .info .info-item p {
        width: 60%;
        margin: auto;
    }

    #contact .icon {
        color: #fff;
        background: #000;
        padding: 10px;
        margin: 5px;
        border-radius: 50%;
        transition: all 0.5s;
    }
}

/* Mobile View */
@media(max-width: 500px) {
    #navbar .nav {
        display: none;
    }

    #navbar ul:last-child {
        display: flex;
        flex-direction: column;
        list-style: none;
    }

    .menu-wrap {
        display: block;
    }

    .menu-wrap {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1;
    }
      
    .menu-wrap .toggler {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        cursor: pointer;
        width: 55px;
        height: 80px;
        opacity: 0;
    }
      
    .menu-wrap .hamburger {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        width: 60px;
        height: 80px;
        padding: 1rem;
        background: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
    }
      
    /* Hamburger Line */
    .menu-wrap .hamburger > div {
        position: relative;
        flex: none;
        width: 100%;
        height: 2px;
        background: #000;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.4s ease;
    }
      
    /* Hamburger Lines - Top & Bottom */
    .menu-wrap .hamburger > div::before,
    .menu-wrap .hamburger > div::after {
        content: '';
        position: absolute;
        z-index: 1;
        top: -10px;
        width: 100%;
        height: 2px;
        background: inherit;
    }
      
    /* Moves Line Down */
    .menu-wrap .hamburger > div::after {
        top: 10px;
    }
      
    /* Toggler Animation */
    .menu-wrap .toggler:checked + .hamburger > div {
        transform: rotate(135deg);
    }
      
    /* Turns Lines Into X */
    .menu-wrap .toggler:checked + .hamburger > div:before,
    .menu-wrap .toggler:checked + .hamburger > div:after {
        top: 0;
        transform: rotate(90deg);
    }
      
    /* Rotate On Hover When Checked */
    .menu-wrap .toggler:checked:hover + .hamburger > div {
        transform: rotate(225deg);
    }
      
    /* Show Menu */
    .menu-wrap .toggler:checked ~ .menu {
        visibility: visible;
    }
      
    .menu-wrap .toggler:checked ~ .menu > div {
        transform: scale(1);
        transition-duration: 0.7s;
    }
      
    .menu-wrap .toggler:checked ~ .menu > div > div {
        opacity: 1;
        transition:  opacity 0.4s ease 0.4s;
    }
      
    .menu-wrap .menu {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu-wrap .menu > div {
        background: rgba(0, 0, 0, 0.8);
        border-radius: 50%;
        width: 200vh;
        height: 200vh;
        display: flex;
        flex: none;
        align-items: center;
        justify-content: center;
        transform: scale(0);
        transition: all 0.4s ease;
    }

    .menu-wrap .menu > div > div {
        text-align: center;
        max-width: 90vw;
        max-height: 100vh;
        opacity: 0;
        transition: opacity 0.4s ease;
    }

    .menu-wrap .menu > div > div > ul {
        display: block;
    }

    .menu-wrap .menu > div > div > ul > li {
        list-style: none;
        color: #fff;
        font-size: 1.5rem;
        padding: 1rem;
    }

    .menu-wrap .menu > div > div > ul > li > a {
        color: inherit;
        text-decoration: none;
        transition: color 0.4s ease;
    }

    .menu-wrap .menu > div > div > ul > li > a:hover {
        color: #FF4E37;
    }

    #creative .crSol {
        display: block;
        padding: 80px 0;
    }

    #features .feature-images img {
        max-width: 350px;
        padding: 30px 0;
    }

    #features .key-features {
        display: block;
    }

    #support .btn-light {
        margin: 15px 0;
    }

    #testimonials .items {
        display: block;
        padding: 100px 0;
    }

    #footer {
        text-align: center;
    }

    #footer .nav {
        display: none;
    }

}

@media(max-width: 300px) {
    #features .feature-images img {
        max-width: 250px;
        padding: 30px 0;
    }
}